<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5xMmZ7xNc2WQK1XdgH8kzwO2hu-e0eUA</string>
	<key>GCM_SENDER_ID</key>
	<string>384578650669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lucas.Interface</string>
	<key>PROJECT_ID</key>
	<string>interfaceapp-c89ca</string>
	<key>STORAGE_BUCKET</key>
	<string>interfaceapp-c89ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384578650669:ios:e992d6972a2968266c6ea4</string>
</dict>
</plist>